/* Parrish Ward, 9-19-21, csd-340 module 7.3 */
#page-title {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
#picture {
    align-items: center;
    border-width: 1px;
}
